

{% extends "back/base.html.twig" %}

{% block body %}
    <h1>Association</h1>

    <section class="home-blog">
        <div class="container">
            <a href="{{ path('app_association_index') }}"> <button class="btn btn-primary"> Back to list </button></a>
            <div class="row justify-content-center">


                <div class="section-tittle text-center mb-40">
                    <h2>{{ association.nom }}</h2>
                    <p>{{ association.description }}</p>

                    <a href={{ path('app_association_edit',{'id':association.id })}}> <button class="btn btn-success">Modifier </button></a>
                    <a href="{{ path('app_association_delete',{'id':association.id}) }}"  onclick="return confirm('Etes vous sûr de supprimer l association  {{ association.nom }} ')"  > <button class="btn btn-danger"> Supprimer </button></a>
                    <a href="{{ path('show_pdf',{'id':association.id}) }}"   > <button class="btn btn-danger"> Imprimer </button></a>


                </div>

            </div>
        </div>
    </section>




{% endblock %}

