{% extends 'front/base.html.twig' %}


 
{% block nav %}
{% for c in categories %}
 <li><a href="{{path('app_categories_showPro',{'id':c.id})}}">{{c.getNomCat()}}</a></li>
 {% endfor %}
 {% endblock %}



{% block body %}
    <main>

        <section class="slider-area ">
            <div class="slider-active">

                <div class="single-slider slider-bg1 slider-height d-flex align-items-center">
                    <div class="container">
                        <div class="rowr">
                            <div class="col-xxl-5 col-xl-6 col-lg-7 col-md-8  col-sm-10">
                                <div class="hero-caption text-center">
                                    <span>LotusCare</span>
                                    <h1 data-animation="bounceIn" data-delay="0.2s">Plus qu'une parapharmacie</h1>
                                    
                                    <a href="#" class="btn_1 hero-btn" data-animation="fadeInUp" data-delay="0.7s">Acheter Maintenant!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="single-slider slider-bg2 slider-height d-flex align-items-center">
                    <div class="container">
                        <div class="row justify-content-end">
                            <div class="col-xxl-5 col-xl-6 col-lg-7 col-md-8 col-sm-10">
                                <div class="hero-caption text-center">
                                    <span>LotusCare</span>
                                    <h1 data-animation="bounceIn" data-delay="0.2s">Plus qu'une parapharmacie</h1>
                                    
                                    <a href="#" class="btn_1 hero-btn" data-animation="fadeInUp" data-delay="0.7s">Acheter Maintenant!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
          </div>
                 
         
         <div class="latest-items section-padding fix">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-xl-12">
                        <div class="nav-button">

                            <nav>
                                <div class="nav-tittle">
                                    <h2>Tendance</h2>
                                </div>
                                
                            </nav>

                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
               
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-one" role="tabpanel" aria-labelledby="nav-one-tab">

                        <div class="latest-items-active">
                        
                             {% for p in produits %}
                            <div class="properties pb-30">
                                <div class="properties-card">
                                    <div class="properties-img">
                                        <a href="pro-details.html"><img src="{{ asset('uploads/produit_image/')~p.getImage() }}" alt="" style="width:180px ; height:160px"></a>
                                        <div class="socal_icon">
                                            <a href="#"><i class="ti-shopping-cart"></i></a>
                                            <a href="#"><i class="ti-heart"></i></a>
                                            <a href="#"><i class="ti-zoom-in"></i></a>
                                        </div>
                                    </div>
                                    <div class="properties-caption properties-caption2">
                                        <p>{{p.Description}}
                                    </p>
                                        <div class="properties-footer">
                                            <div class="price">
                                                <p>{{p.Prix ~" TND"}}
                                    </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                             {% endfor %}
                        </div>
                        
                        </div>
                    </div>
                    
                </div>
         </div>
         </section>


                  <section class="home-blog">
                <div class="container">
                <div class="row justify-content-center">
                    <div class="cl-xl-7 col-lg-8 col-md-10">

                        <div class="section-tittle text-center mb-40">
                            <h2>Latest News</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-blogs mb-30">
                            <div class="blog-img">
                                <a href="pro-details.html"><img src="{{ asset('assets/img/gallery/blog1.jpg') }}" alt=""></a>
                            </div>
                            <div class="blogs-cap">
                                <span>Fashion Tips</span>
                                <h5><a href="pro-details.html">What Curling Irons Are The Best Ones</a></h5>
                                <p>Consectetur adipisicing elit. Laborum fuga incidunt laboriosam voluptas iure,
                                    delectus..</p>
                                <a href="pro-details.html" class="red-btn">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-blogs mb-30">
                            <div class="blog-img">
                                <a href="pro-details.html"><img src="{{ asset('assets/img/gallery/blog2.jpg') }}" alt=""></a>
                            </div>
                            <div class="blogs-cap">
                                <span>Fashion Tips</span>
                                <h5><a href="pro-details.html">Vogue's Ultimate Guide To Autumn/
                                        Winter 2019 Shoes</a></h5>
                                <p>Consectetur adipisicing elit. Laborum fuga incidunt laboriosam voluptas iure,
                                    delectus..</p>
                                <a href="pro-details.html" class="red-btn">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-blogs mb-30">
                            <div class="blog-img">
                                <a href="pro-details.html"><img src="{{ asset('assets/img/gallery/blog3.jpg') }}" alt=""></a>
                            </div>
                            <div class="blogs-cap">
                                <span>Fashion Tips</span>
                                <h5><a href="pro-details.html">What Curling Irons Are The Best Ones</a></h5>
                                <p>Consectetur adipisicing elit. Laborum fuga incidunt laboriosam voluptas iure,
                                    delectus..</p>
                                <a href="pro-details.html" class="red-btn">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
              </section>


         <div class="categories-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-cat mb-50 wow fadeInUp text-center" data-wow-duration="1s"
                             data-wow-delay=".2s">
                            <div class="cat-icon">
                                <img src="{{ asset('assets/img/icon/services1.svg') }}" alt="">
                            </div>
                            <div class="cat-cap">
                                <h5>Fast & Free Delivery</h5>
                                <p>Free delivery on all orders</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-cat mb-50 wow fadeInUp text-center" data-wow-duration="1s"
                             data-wow-delay=".2s">
                            <div class="cat-icon">
                                <img src="{{ asset('assets/img/icon/services2.svg') }}" alt="">
                            </div>
                            <div class="cat-cap">
                                <h5>Secure Payment</h5>
                                <p>Free delivery on all orders</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-cat mb-50 wow fadeInUp text-center" data-wow-duration="1s"
                             data-wow-delay=".4s">
                            <div class="cat-icon">
                                <img src="{{ asset('assets/img/icon/services3.svg') }}" alt="">
                            </div>
                            <div class="cat-cap">
                                <h5>Money Back Guarantee</h5>
                                <p>Free delivery on all orders</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-cat mb-50 wow fadeInUp text-center" data-wow-duration="1s"
                             data-wow-delay=".5s">
                            <div class="cat-icon">
                                <img src="{{ asset('assets/img/icon/services4.svg') }}" alt="">
                            </div>
                            <div class="cat-cap">
                                <h5>Online Support</h5>
                                <p>Free delivery on all orders</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </section>
    </main>
{% endblock %}
