
{% extends "front/base.html.twig" %}
{% block body %}
<main>
<div class="hero-area section-bg2">
<div class="container">
<div class="row">
<div class="col-xl-12">
<div class="slider-area">
<div class="slider-height2 slider-bg4 d-flex align-items-center justify-content-center">
<div class="hero-caption hero-caption2">
<h2>Publication choisie:</h2>
<nav aria-label="breadcrumb">
<ol class="breadcrumb justify-content-center">
<li class="breadcrumb-item"><a href="index-2.html"></a></li>
<li class="breadcrumb-item"><a href="#"></a></li>
</ol>
</nav>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


<section class="blog_area single-post-area section-padding">
<div class="container">
<div class="row">
<div class="col-lg-8 posts-list">
<div class="single-post">



<div class="feature-img">
<img class="img-fluid" src="assets/img/blog/single_blog_1.jpg" alt="">
</div>
<div class="blog_details">


<h2 style="color: #2d2d2d;">{{Publication.CodePub}}</h2>


<p class="excert">
{{Publication.ContenuPub }}
</p>
<p>
</p>
<div class="quote-wrapper">
<div class="quotes">
<h2 class="blog-head" style="color: #2d2d2d;"><img class="card-img rounded-0" style="width: 80%;" width='100px' src="{{ asset('uploadsforum/imagespublication/'~Publication.UrlImagePub) }}" alt=""></h2>


</div>
</div>
</div>
</div>
</div>

</div>





             
</div>
<div class="arrow">
<a href="#">
<span class="lnr text-white ti-arrow-right"></span>
</a>
</div>
<div class="thumb">
<a href="#">
<img class="img-fluid" src="assets/img/post/next.jpg" alt="">
</a>
</div>
</div>
</div>
</div>
</div>

<div class="comments-area">
<div class="comment-list">
<div class="single-comment justify-content-between d-flex">
<div class="user justify-content-between d-flex">
<div class="thumb">


</div>
<div class="desc">
<p class="comment">

<td></td>









<div class="comment-list">
<div class="single-comment justify-content-between d-flex">
<div class="user justify-content-between d-flex">
<div class="thumb">
<img src="assets/img/blog/comment_3.png" alt="">
</div>


    {% for commentaire in commentaire %}

<div class="desc">
<p class="comment">
{{ commentaire.contenucomm}}
</p>

<div class="d-flex justify-content-between">



<p>{{ commentaire.datecom|date('d-m-y')}}</p>

</div>
</div>
</div>
        {% endfor %}

</div>
</div>
</div>
</div>

                       
<div class="comment-form">
<a href="{{path('addcom2',{'id':Publication.id})}}"><button class='btn btn-secondary'>laisser un commentaire</button></a>




</div>
</div>
</div>


{% endblock %}


