

{% extends "back/base.html.twig" %}


{%block body%}

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">


            <div class="row">
                <div class="col-md-12"  style="display: flex; justify-content: center;align-items:center;width: 100%" >
                    <div class="card-box">
                        <div class="dropdown pull-right">

                            <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                                <i class="mdi mdi-dots-vertical"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item">Action</a>
                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item">Another action</a>
                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item">Something else</a>
                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item">Separated link</a>
                            </div>
                        </div>
                        <h4 class="header-title m-t-0 m-b-30">Edit Evenement</h4>
                        {{ form_start(f, {attr: {novalidate: 'novalidate'}}) }}


                        <div class="form-group">
                            <label for="nom">Titre</label>

                            {{ form_widget(f.titre, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(f.titre, {'attr': {'class': 'text-danger'}}) }}


                        </div>

                        <div class="form-group">

                            <label for="nom">description</label>


                            {{ form_widget(f.description, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(f.description, {'attr': {'class': 'text-danger'}}) }}

                        </div>

                        <div class="form-group">

                            <label for="nom">Lieu</label>


                            {{ form_widget(f.lieu, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(f.lieu, {'attr': {'class': 'text-danger'}}) }}

                        </div>

                        <div class="form-group">

                            <label for="nom">Nbr participant</label>


                            {{ form_widget(f.nbr_participant, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(f.nbr_participant, {'attr': {'class': 'text-danger'}}) }}

                        </div>

                        <div class="form-group">

                            <label for="nom">Prix</label>


                            {{ form_widget(f.prix, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(f.prix, {'attr': {'class': 'text-danger'}}) }}

                        </div>

                        <div class="form-group">

                            <label for="nom">url_image</label>


                            {{ form_widget(f.url_image, {'attr': {'class': 'dropify','data-height':'200'}}) }}


                        </div>

                        <div class="form-group">

                            <label for="nom">Date</label>


                            {{ form_widget(f.date, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(f.date, {'attr': {'class': 'text-danger'}}) }}

                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary">{{ button_label|default('Save') }}</button>

                        </div>


                        {{form_end(f)}}

                    </div>
                </div>
            </div>
            <a  href="{{ path('app_evenement_index') }}"> back to list</a>
        </div>
    </div>
    </div>
    </div>

    {%endblock%}
