


{% extends "front/base.html.twig" %}

{% block body %}
    <section class="home-blog">
        <div class="container">
            <div class="row justify-content-center">
                <div class="cl-xl-7 col-lg-8 col-md-10">

                    <div class="section-tittle text-center mb-40">
                        <h2>Les Evenements</h2>
                    </div>
                </div>
            </div>
<div class="row">
            <div class="sidebar-search">

                <div class="input-group custom-search-form">

                    <input type="text" id="search" class="form-control" placeholder="Rechercher evenement">
                </div>
                <!-- /input-group -->
            </div>
            <ul class="nav" id="side-menu">
                <li>
                    <a href="#"><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level" id="entitiesNav">
                    </ul>
                </li>
            </ul><br><br><br>
</div>

            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

            <script type="text/javascript">
                jQuery(document).ready(function() {
                    var searchRequest = null;
                    $("#search").keyup(function() {
                        var minlength = 1;
                        var that = this;
                        var value = $(this).val();
                        var entitySelector = $("#entitiesNav").html('');
                        if (value.length >= minlength ) {
                            if (searchRequest != null)
                                searchRequest.abort();
                            searchRequest = $.ajax({
                                type: "GET",
                                url: "{{ path('Evenement_search') }}",
                                data: {
                                    'q' : value
                                },
                                dataType: "text",
                                success: function(msg){
                                    //we need to check if the value is the same
                                    if (value===$(that).val()) {
                                        var result = JSON.parse(msg);
                                        $.each(result, function(key, arr) {
                                            $.each(arr, function(id, value) {
                                                if (key === 'evenements') {
                                                    if (id !== 'error') {
                                                        console.log(value);
                                                        entitySelector.append('<li><b>'+'</b><a href="/evenement/front/show/'+id+'">'+value[0]+'</a>  </li>');
                                                    } else {
                                                        entitySelector.append('<li class="errorLi">'+value+'</li>');
                                                    }
                                                }
                                            });
                                        });
                                    }
                                }
                            });
                        }
                    });
                });
            </script>





            <div class="row">
                {% for p in evenements %}


                    <div class="col-lg-4 col-md-6 col-sm-6">

                        <div class="single-blogs mb-30">
                            <div class="blog-img">
                                <a href="{{ path('app_evenement_frontShow', {'id': p.id}) }}"><<img src="{{ asset('uploads/event_image/')~p.getUrlImage() }}" height="300" width="250" alt=""></a>
                            </div>
                            <div class="blogs-cap">
                                <span>{{ p.prix~"  TND" }}</span>
                                <h5><a href="{{ path('app_evenement_frontShow', {'id': p.id}) }}">{{ p.titre }} <i class="fa-thin fa-magnifying-glass"></i></a></h5>
                                <p>{{ p.lieu }}</p>

                                <a href="{{ path('app_evenement_frontShow', {'id': p.id}) }}" class="red-btn">Détails</a>

                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        </div>
    </section>
{% endblock %}





