{% extends "back/base.html.twig" %}

{% block body %}

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container-fluid">


                <div class="row">

                    <div class="col-12">
                        <div class="card-box">
                            <div class="dropdown pull-right">
                                <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                                    <i class="mdi mdi-dots-vertical"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Action</a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Another action</a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Something else</a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Separated link</a>
                                </div>
                            </div>
                            <h4 class="m-t-0 header-title">Liste Categories</h4>
                            <p class="text-muted font-14 m-b-20">
                            <table>
                                <tr>
                                    <td>
                                        <a href="{{ path('app_categories_new') }}">
                                            <button type="button" class="btn btn-primary">Ajouter Categories</button>                            </p>

                                        </a>


                                    </td>
                            </table>

                            <table class="table">
                                <thead class="thead-dark">
                                <tr>
                                    <th>Code Categorie</th>
                                    <th>Nom Categorie</th>
                                   



                                </tr>
                                </thead>
                                <tbody>
                                {% for p in  categories %}
                                    <tr>
                                        <td>{{ p.codecat }}</td>
                                        <td>{{ p.nomcat }}</td>
                                        

                                        <td><button class="btn btn-success"><a href="{{ path('app_categories_show',{'id':p.id})}}">Show </a></button></td>
                                        <td><button class="btn btn-success"><a href="{{ path('app_categories_edit',{'id':p.id})}}">Modifier </a></button></td>
                                         <td><button class="btn btn-danger"><a href="/categories/{{p.id}}" onclick="return confirm('voulez-vus supprimer cette categorie? {{p.codecat()}}');">supp </a></button></td>

                                    </tr>


                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}